/* Global Styles */
body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #f4e1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.content {
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* h1 - Font Size Adjustment */
.content h1 {
    font-size: 12vw !important; /* Default font size based on viewport width */
    color: black;
    margin: 0;
    line-height: 1.1;
    font-family: 'Luckiest Guy', cursive !important;
}

/* Adjustments for Mobile Screens */
@media (max-width: 767px) {
    .content h1 {
        font-size: 8em !important;  /* Reduce size on mobile */
        line-height: 1.1;
    }
    .content h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em !important;
    }
}

/* Adjustments for Larger Screens (Desktop) */
@media (min-width: 768px) {
    .content h1 {
        font-size: 12vw !important; /* Keep large size for desktop */
    }
    p {
        font-size: 2em;
    }
}
